<div id="keyboard">
  <div class="key white c" (mouseover)="msover('C3')" (mousedown)="msdown=true;play('C3');"(mouseup)="msdown=false"></div>
  <div class="key black c_sharp" (mouseover)="msover('C#3')" (mousedown)="msdown=true;play('C#3');"(mouseup)="msdown=false"></div>
  <div class="key white d" (mouseover)="msover('D3')" (mousedown)="msdown=true;play('D3');"(mouseup)="msdown=false"></div>
  <div class="key black d_sharp" (mouseover)="msover('D#3')" (mousedown)="msdown=true;play('D#3');"(mouseup)="msdown=false"></div>
  <div class="key white e" (mouseover)="msover('E3')" (mousedown)="msdown=true;play('E3');"(mouseup)="msdown=false"></div>
  <div class="key white f" (mouseover)="msover('F3')" (mousedown)="msdown=true;play('F3');"(mouseup)="msdown=false"></div>
  <div class="key black f_sharp" (mouseover)="msover('F#3')" (mousedown)="msdown=true;play('F#3');"(mouseup)="msdown=false"></div>
  <div class="key white g" (mouseover)="msover('G3')" (mousedown)="msdown=true;play('G3');"(mouseup)="msdown=false"></div>
  <div class="key black g_sharp" (mouseover)="msover('G#3')" (mousedown)="msdown=true;play('G#3');"(mouseup)="msdown=false"></div>
  <div class="key white a" (mouseover)="msover('A3')" (mousedown)="msdown=true;play('A3');"(mouseup)="msdown=false"></div>
  <div class="key black a_sharp" (mouseover)="msover('A#3')" (mousedown)="msdown=true;play('A#3');"(mouseup)="msdown=false"></div>
  <div class="key white b" (mouseover)="msover('B3')" (mousedown)="msdown=true;play('B3');"(mouseup)="msdown=false"></div>
  <div class="key white c" (mouseover)="msover('C4')" (mousedown)="msdown=true;play('C4');"(mouseup)="msdown=false"></div>
  <div class="key black c_sharp" (mouseover)="msover('C#4')" (mousedown)="msdown=true;play('C#4');"(mouseup)="msdown=false"></div>
  <div class="key white d" (mouseover)="msover('D4')" (mousedown)="msdown=true;play('D4');"(mouseup)="msdown=false"></div>
  <div class="key black d_sharp" (mouseover)="msover('D#4')" (mousedown)="msdown=true;play('D#4');"(mouseup)="msdown=false"></div>
  <div class="key white e" (mouseover)="msover('E4')" (mousedown)="msdown=true;play('E4');"(mouseup)="msdown=false"></div>
  <div class="key white f" (mouseover)="msover('F4')" (mousedown)="msdown=true;play('F4');"(mouseup)="msdown=false"></div>
  <div class="key black f_sharp" (mouseover)="msover('F#4')" (mousedown)="msdown=true;play('F#4');"(mouseup)="msdown=false"></div>
  <div class="key white g" (mouseover)="msover('G4')" (mousedown)="msdown=true;play('G4');"(mouseup)="msdown=false"></div>
  <div class="key black g_sharp" (mouseover)="msover('G#4')" (mousedown)="msdown=true;play('G#4');"(mouseup)="msdown=false"></div>
  <div class="key white a" (mouseover)="msover('A4')" (mousedown)="msdown=true;play('A4');"(mouseup)="msdown=false"></div>
  <div class="key black a_sharp" (mouseover)="msover('A#4')" (mousedown)="msdown=true;play('A#4');"(mouseup)="msdown=false"></div>
  <div class="key white b" (mouseover)="msover('B4')" (mousedown)="msdown=true;play('B4');"(mouseup)="msdown=false"></div>
  <div class="key white c" (mouseover)="msover('C5')" (mousedown)="msdown=true;play('C5');"(mouseup)="msdown=false"></div>
</div>
