<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Synth
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Synth</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <div>
          <app-synthesizer></app-synthesizer>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
